*{
    font-family: 'Futura', sans-serif;
}

body {
    font-family: 'Futura', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image:url(BackgroundPaymentForm.gif);
    background-size: cover;
    background-position:center center;
}

.payment-form {
    background-color: rgb(255, 255, 255);
    padding: 45px;
    border-radius: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.205);
    max-width: 400px;
    width: 100%;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    color: black;
}

label, input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

input {
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding: 12px 12px;
    border-radius: 2px;
    border-color: black;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.5s;
}

button:hover {
    background-color: #ffffff;
    color: black;
}

.card-picture{
    width:50px;    
    height:auto;
}

.image-container{
   display: block;
}